{% extends 'base.html' %}

{% block title %}Chinook Albums List{% endblock title%}

{% block content %}

    <div class="row pb-3">
        <h1><i class="fa-solid fa-record-vinyl"></i>&emsp;Albums</h1>
    </div>

    <div class="clearfix">
        <div class="float-right pb-3">
            <form action="{% url 'disks:albums_list' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </form>
        </div>
    </div>

    <div class="row">
    {% if albums %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th><i class="fa-solid fa-record-vinyl"></i>&ensp;Title</th>
                <th><i class="fa-solid fa-microphone"></i>&ensp;Artist</th>
            </tr>
            </thead>
            <tbody>
            {% for album in albums %}
                <tr>
                    <td><a href="{% url 'disks:album_details' album.id %}">{{ album.title }}</a></td>
                    <td>{{ album.artist.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron"><i>No album available.</i></div>
    {% endif %}
    </div>

{% endblock content %}