{% extends 'base.html' %}

{% block title %}Chinook Albums List{% endblock title%}

{% block content %}
<h1>Albums</h1>

<form action="{% url 'disks:albums_list' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit"/>
</form>

{% if albums %}
    <ul>
    {% for album in albums %}
        <li><a href="{% url 'disks:album_details' album.id %}">{{ album.title }}</a> by {{ album.artist.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No album available.</p>
{% endif %}
{% endblock content %}