{% extends 'base.html' %}

{% block title %}Chinook Albums List{% endblock title%}

{% block content %}

    <div class="row pb-3">
        <h1>Albums</h1>
    </div>

    <div class="clearfix">
        <div class="float-end pb-3">
            <form action="{% url 'disks:albums_list' %}" method="post">
                {% csrf_token %}
                 
                <!-- No control on label styling -->
                <div class="mb-3">
                    {{ form }}
                </div>
                
                <!-- Alternative code with fine control on labels styling -->
                <!--
                {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label text-primary">{{ field.label }}</label>
                    <br/>
                    {{ field }}
                </div>
                {% endfor %}
                -->

                <div class="mb-3">
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
    {% if albums %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
            </tr>
            </thead>
            <tbody>
            {% for album in albums %}
                <tr>
                    <td><a href="{% url 'disks:album_details' album.id %}">{{ album.title }}</a></td>
                    <td>{{ album.artist.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron"><i>No album available.</i></div>
    {% endif %}
    </div>

{% endblock content %}